alembic==1.13.1
asyncpg==0.29.0
email_validator==2.1.1
fastapi==0.109.2
httpx==0.26.0
orjson==3.9.15
pydantic==2.6.1
pydantic-settings==2.1.0
PyJWT==2.10.1
pytest==8.0.0
python-multipart==0.0.9
redis==5.0.3
SQLAlchemy==2.0.25
uvicorn==0.27.0.post1
